:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: sans-serif;
    --font-mono: 'Roboto Mono', monospace;

    /* set base values */
    --text-base: 1rem;
    --text-scale-ratio: 1.2;

    /* text weight */
    --text-light: 300;
    --text-regular: 400;
    --text-medium: 500;
    --text-bold: 700;

    /* type scale */
    --text-xs: calc(var(--text-sm) / var(--text-scale-ratio));
    --text-sm: calc(var(--text-base) / var(--text-scale-ratio));
    --text-md: calc(var(--text-base) * var(--text-scale-ratio));
    --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
    --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));

    /* color */
    --color-primary-lighter: rgb(108, 133, 157);
    --color-primary-light: rgb(86, 107, 129);
    --color-primary: rgb(66, 82, 98);
    --color-primary-dark: rgb(45, 56, 67);
    --color-primary-darker: rgb(24, 31, 37);

    --color-accent-lighter: rgb(83, 234, 231);
    --color-accent-light: rgb(37, 228, 225);
    --color-accent: rgb(23, 190, 187);
    --color-accent-dark: rgb(18, 145, 143);
    --color-accent-darker: rgb(12, 100, 98);

    --color-black: rgb(34, 34, 34);

    --color-white: rgb(255, 255, 255);

    --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    --shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);

}

html {
    -webkit-text-size-adjust: 100%;
    font-size: var(--text-base);
}

body {
    font-family: var(--font-primary);
    font-weight: var(--text-regular);
    background-color: var(--color-white);
}

.container {
    margin: .25em auto;
    max-width: 800px;
}

/* header */

header,
footer {
    padding: 1em;
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: var(--shadow-1);
}

img {
    display: block;
    width: 10em;
    height: auto;
    box-shadow: var(--shadow-2);
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 1.6em;
    text-align: center;
}

/* main */
main {
    padding: .5em;
}

h2 {
    font-size: 1.4em;
}

hr {
    border: .4px solid rgb(211, 211, 212);
}

main a:link,
main a:visited {
    color: inherit;
}

main a:hover:hover {
    color: var(--color-accent-dark);
}

/* footer */
footer {
    text-align: center;
}

footer a:link,
footer a:visited {
    display: inline;
    color: var(--white);

}

footer a:hover {
    color: var(--color-accent);
}